html, body {
  min-width: 100vh;
  margin: 0;
  padding: 0;
}

main {
  width: 80%;
  margin: 1em auto;
}

#keywords-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.keyword {
  padding: 10px;
}

#search-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
}

#search-input-container {
  grid-column-start: 2;
}

#searchbar {
  width: 100%;
}

#articles-container {
  display: grid;
  grid-template-columns: 95% 5%;
}

#articles-table table {
  width: 100%
}
 
#articles-container th {
  text-align: left;
}

#articles-container td {
  padding: 5px;
}

#reload-btn-container {
  text-align: center;
}
