.keyword {
  background: silver;
  border-radius: 5px;
}

.keyword.selected {
  background: orange;
}

.keyword:hover {
  cursor: pointer;
}

.keyword img {
  max-width: 15px;
}

#searchbar {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
}


#articles-container th {
  font-weight: bold;
}

#articles-container th:hover {
  cursor: pointer;
}

#articles-container tr:nth-child(2n) {
  background: lightgrey;
}

#reload-btn-container:hover {
  cursor: pointer;
}
